{% extends "basic_app/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div class="container">
     {% block body_block %}
        <h2>User Guide</h2>
        <h6 style="color:blue;">Disclaimer : 
<br>We hereby like to inform you that this prototype service is developed solely for educational research purposes. Even though we have tried our level best to give accurate predictions and recommendations, we would suggest you perform your own market research completely before investing in any company. As financial risk is involved we still stand strong on the fact that stock market trends are unpredictable, we have tried to do in-depth research of the market, perform continuous and rigorous training and testing to provide reliable results. We recommend taking your financial decisions at your own risk, we do not take any authority for any present or future investment mishaps.
The target audience can be divided into two main categories:
<br>Market Researcher<br>
Client Investor<br>
</h6>
        <p>
<h6>       
<br>1.User Guide for Market Researcher:
</h6>
<br>Please enter your details in order to create an account for our service according to the subscription plan
<br>Enter the valid credentials while login 
<br>Password Guidelines (//Enter our PWD authentication details which are working)
<br>Choose the appropriate category that you want to explore from the navigation bar highlighted at the top of the web page
<br>Real-Time Analysis: By clicking on this option you need to first select the company name for which you the analysis results from the provided search box. According to the entered company name, real-time data is fetched in the backend and you can visualize the results in the form of various comparative graphical figures. You can also select the Machine Learning or Deep Learning models for which you want to get the analysis.
<br>Past Analysis:  By clicking on this option you need to first select the company name for which you the analysis results from the provided search box. According to the entered company name, previously stored data is fetched in the backend and you can visualize the results in the form of various comparative graphical figures(e.g10 k Reports analysis).
<br>Correlation graphs are shown on the basis of the results obtained from the textual and numerical datasets and you can easily conclude the results based on the graphical output.
<br>Model comparison: You can find the performance of both the classical machine learning and deep learning models judged on the basis of various performance criteria.
<br>In between all three options you are free to choose the machine learning model under study.
<br>Our prediction for tomorrow’s stock direction i.e. whether the price will go up or down is highlighted on the top which is forecasted on the basis of rigorous training of the backend models.<br>
<h6>
<br>2.User Guide for Client Investor:
</h6>
<br>Please enter your details in order to create an account for our service according to the subscription plan
<br>Enter the valid credentials while login
<br>Password Guidelines 
<br>Our recommendation of top two and bottom two companies is highlighted on the page accordingly you can take the financial decision i.e. top stocks to buy and bottom once to sell

        </p>
    {% endblock %}
</div>
</body>
</html>